/* ========== UTILITAS UMUM ========== */
/* Width & Height */
.w-100 {
    width: 100%;
}

.h-auto {
    height: auto;
}

/* Text Alignment */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

/* Background Color */
.bg-krem {
    background-color: var(--warna-krem);
}

.bg-putih {
    background-color: var(--warna-putih);
}

/* Margin & Padding */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Image Style */
.img-rounded {
    border-radius: var(--radius-standar);
}

.img-rounded-lg {
    border-radius: var(--radius-besar);
}

.img-shadow {
    box-shadow: var(--shadow-elegan);
}

.img-fit-cover {
    object-fit: cover;
}
